@model HomeViewModel
@{
    ViewData["Title"] = "Blog";
    Layout = "_Layout";
}

<div class="section-bg-image box-middle-container overlay-container row-19" data-natural-height="950" data-natural-width="1920" data-parallax="scroll" data-bleed="0" data-image-src="../images/hakkimizda.jpg">
    <div class="container content overlay-content box-middle white text-center">
        <div class="title-base" data-anima="fade-top">
            <hr />
            <h1 class="text-xl">Yazılarım</h1>
        </div>
    </div>
</div>
<div class="section-empty">
    <div class="container content">
        <div class="row">
            <div class="col-md-9 col-sm-12">
                <div class="grid-list grid-layout grid-15">
                    <div class="grid-box row">
                        @foreach (var item in Model.blogs)
                        {
                            @if (@item.Status == true)
                            {
                                <div class="grid-item col-md-6">
                                    <div class="advs-box advs-box-top-icon-img niche-box-post boxed-inverse" data-anima="scale-rotate" data-trigger="hover">
                                        <div class="block-infos">
                                            <div class="block-data">
                                                <p class="bd-day">@item.CreatedDate.Day / </p>
                                                <p class="bd-month">@item.CreatedDate.Month / @item.CreatedDate.Year</p>
                                            </div>
                                            <a class="block-comment" href="#">2 <i class="fa fa-comment-o"></i></a>
                                        </div>
                                        <a class="img-box" href="#"><img class="anima" src="~/@item.ImagePath" alt="" /></a>
                                        <div class="advs-box-content">
                                            <h2 class="text-m"><a asp-action="Details" asp-route-id="@item.Id">@item.Title</a></h2>
                                            <div class="tag-row">
                                                <span><i class="fa fa-bookmark"></i> <a href="#">Blog</a></span>
                                                <span><i class="fa fa-pencil"></i><a href="#">Admin</a></span>
                                            </div>
                                            <div class="collapse-box" data-height="75">
                                                <div class="panel">
                                                    <p class="niche-box-content">
                                                        @item.Description
                                                    </p>
                                                </div>
                                                @*<div class="text-center">
                                                    <a class="collapse-button" data-button-open-text="Hide all" data-button-close-text="Read all">
                                                        <b>Read all</b> <span class="caret"></span>
                                                    </a>
                                                </div>*@
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }

                        }



                    </div>
                    <div class="list-nav text-center">
                        <ul class="pagination pagination-sm pagination-grid" data-page-items="8" data-pagination-anima="fade-bottom" data-options="scrollTop:true"></ul>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-12 widget">
                <hr class="space s" />
                <div class="list-group list-blog">
                    <p class="list-group-item active">Tags</p>
                    <div class="tagbox">
                        <span>Hello!</span><span>Big deal</span><span>A new happy time</span><span>Food</span><span>Nutritionist</span><span>Cheese</span><span>Food</span><span>Diet</span>
                        <div class="clear"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

