@model List<WeakenedListDto>
@{
    Layout = "_Panel";
}

<div class="row page-titles">
    <div class="col-md-5 col-12 align-self-center">
        <h3 class="text-themecolor mb-2">Zayıflayanlar</h3>
        <a asp-action="Create" class="btn btn-dark waves-effect waves-light">Yeni Zayıflayan Ekle</a>
    </div>
</div>

<div class="col-sm-12 col-md-3">
    <form>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <label class="input-group-text bg-warning text-light" for="inputGroupSelect01">Filter</label>
            </div>
            <select class="custom-select" id="inputGroupSelect01">
                <option selected>Choose...</option>
                <option value="1">One</option>
                <option value="2">Two</option>
                <option value="3">Three</option>
            </select>
        </div>
    </form>
</div>

<div class="col-lg-12">
    <div class="card">
        <div class="card-body">
            <div class="table-responsive">
                <table class="table">
                    <thead class="bg-warning text-white">
                        <tr>
                            <th>Ad</th>
                            <th>Soyad</th>
                            <th>Resim</th>
                            <th>Aktiflik</th>
                            <th>İşlemler</th>
                        </tr>
                    </thead>
                    <tbody>
                        @for (int item = 0; item < Model?.Count; item++)
                        {
                        <tr>
                            <td>@Model[item].FirstName</td>
                            <td>@Model[item].SurName</td>
                            <td> <img width="50px" height="50px" src="@Model[item].FilePath" /> </td>
                            <td>
                                <input type="checkbox" name="@Model[item].Status" asp-for="@Model[item].Status" value="@Model[item].Status" />
                            </td>
                            <td>
                                <a asp-action="Update" asp-route-id="@Model[item].Id">Güncelle</a>
                            </td>
                        </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
